<!DOCTYPE HTML>
<html lang='en/us'>

<head>
    <!-- <script src="https://kit.fontawesome.com/eb747bd21c.js" crossorigin="anonymous"></script> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet"> -->
    <link rel='stylesheet' type='text/css' href='debug.css' media='screen' />


</head>

<body>
    <div class='dashboard'>
        <form method="POST" action="" enctype="multipart/form-data" target="_self">
            <label for="title">Image Title :</label>
            <input type="text" id="title" name="title">

            <label for="desc">Image Description :</label>
            <input type="text" id="desc" name="desc">

            <div>
                <p>Select Tags : </p>

                <form>
                      <input type="radio" id="contactChoice1" name="contact" value="email">
                      <label for="contactChoice1">Email</label>
                  
                      <input type="radio" id="contactChoice2" name="contact" value="telephone">
                      <label for="contactChoice2">Téléphone</label>
                  

                    </div>
            </div>

            <label for="share">Sharable</label>
            <input type="checkbox" class="switch" id="share" name="share" value="1">

            <label for="file">File:</label>
            <input type="file" id="file" name="file">


            <input class="btn validate" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>