<!DOCTYPE HTML>
<html lang='en/us'>

<head>
    <!-- <script src="https://kit.fontawesome.com/eb747bd21c.js" crossorigin="anonymous"></script> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet"> -->
    <!-- <link rel='stylesheet' type='text/css' href='debug.css' media='screen' /> -->


</head>

<body>


    <div class='dashboard'>
        <div class='container admin'>
        <div class='dash-picture'>
        <h1><a href='#' class='btn additems success'><span class='material-icons-round'>add</span></a></h1>
    
        <table>
        <thead>
            <tr>
                <th>Miniature</th>
                <th>Name</th>
                <th>Description</th>
                <th>File Name</th>
                <th>Tags</th>
                <th>Sharable</th>
                <th>Quick Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td> $value->_name </td>
                <td> $value->_description </td>
                <td> $value->_link </td>
                <td> $value->_tag </td>
                <td> $value->_sharable </td>
                <td class=action with=500>
                    <a class='btn validate' href='#'><span class='glyphicon glyphicon-eye-open'></span> See</a>
                    <a class='btn success' href='#'><span class='glyphicon glyphicon-pencil'></span> Edit</a>
                    <a class='btn error' href='#'><span class='glyphicon glyphicon-trash'></span> Delete</a>
                </td>
            </tr>
        </tbody>
</table></div></div></div></main>
</body>

</html>