.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 550px;
  max-width: 550px;
  margin-top: 5em;
  margin-bottom: 10em;
}

.login .login img {
  width: 350px;
  margin-bottom: 2em;
}

.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--white);
  border: 2px solid var(--primary1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 1.5em;
  min-width: 550px;
  max-width: 550px;
}

.login form h2 {
  margin-bottom: 1em;
}

.login form label:not(:first-of-type) {
  margin-top: 1em;
}

.login form input:last-of-type {
  margin-top: 1.5em;
  min-height: 30px;
  color: var(--primary);
}

main.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

main.dashboard nav.lateral {
  position: fixed;
  z-index: 100;
  margin-top: 6.5em;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 0px 20px 20px 0px;
}

main.dashboard nav.lateral ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.dashboard nav.lateral ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

main.dashboard nav.lateral ul li span {
  font-size: 2em;
  color: var(--primary1);
}

main.dashboard nav.lateral ul li a {
  margin-left: 1em;
  color: var(--primary1);
}

main.dashboard nav.lateral ul li.selected, main.dashboard nav.lateral ul li.selected:hover {
  background-color: var(--primary1);
}

main.dashboard nav.lateral ul li.selected span,
main.dashboard nav.lateral ul li.selected a, main.dashboard nav.lateral ul li.selected:hover span,
main.dashboard nav.lateral ul li.selected:hover a {
  color: var(--white);
}

main.dashboard nav.lateral ul li:hover {
  background-color: var(--primary2);
}

main.dashboard nav.lateral ul li:hover span,
main.dashboard nav.lateral ul li:hover a {
  color: var(--white);
}

main.dashboard div.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6.5em;
  margin-left: 18em;
  padding: 1em;
  padding-bottom: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 20px 20px 20px 20px;
}

main.dashboard div.dashboard div.dash-content {
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em;
  border: solid 3px var(--primary2);
  border-radius: 10px;
}

main.dashboard div.dashboard div.dash-content h2 {
  font-weight: 700;
  font-size: x-large;
}

main.dashboard div.dashboard div.dash-content h3 {
  margin-top: 0.3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

main.dashboard div.dashboard div.dash-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.dashboard div.dashboard div.dash-content div a:not(:first-of-type) {
  margin-left: 1em;
}

main.dashboard div.dashboard h1 {
  position: fixed;
  right: 5%;
  bottom: 5%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

main.dashboard div.dashboard h1 a {
  margin: 0;
  padding: 0px;
  border-radius: 50px;
  min-width: 70px;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.dashboard div.dashboard h1 a span {
  font-size: 30pt;
}

main.dashboard div.dashboard form {
  margin: 0;
  padding-bottom: 1em;
}

main.dashboard div.dashboard form div {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.dashboard div.dashboard form div p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main.dashboard div.dashboard form div label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 6px;
}

main.dashboard div.dashboard form div div {
  margin-top: 0.5em;
}

main.dashboard div.dashboard form div.img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.dashboard div.dashboard form div.img img {
  max-height: 200px;
}

main.dashboard div.dashboard form label:not(:first-of-type) {
  margin-top: 1.5em;
}

main.dashboard div.dashboard form label + input {
  margin: 0;
  padding-left: 0;
}

main.dashboard table {
  text-align: left;
  margin-bottom: 1em;
}

main.dashboard table th,
main.dashboard table td {
  padding: 0.5em;
}

main.dashboard table th:first-of-type,
main.dashboard table td:first-of-type {
  border-radius: 10px 0 0 10px;
}

main.dashboard table th:last-of-type,
main.dashboard table td:last-of-type {
  border-radius: 0 10px 10px 0;
}

main.dashboard table thead {
  border-bottom: 2px solid #444444;
}

main.dashboard table thead th {
  font-size: 15px;
  font-weight: bold;
  color: var(--primary1);
}

main.dashboard table tbody tr td {
  vertical-align: middle;
}

main.dashboard table tbody tr td.inline p {
  display: inline;
}

main.dashboard table tbody tr td.inline p:not(:first-of-type) {
  margin-left: 1em;
}

main.dashboard table tbody:nth-child(2n + 1) {
  background-color: var(--primary3);
}

main.dashboard table img {
  height: 100px;
}
/*# sourceMappingURL=admin.css.map */