.login {
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 550px;
        max-width: 550px;

        img {
            width: 350px;
            margin-bottom: 2em;
        }

        margin-top: 5em;
        margin-bottom: 10em;
    }

    form {
        display: flex;
        flex-direction: column;
        background: var(--white);
        border: 2px solid var(--primary1);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1.5em;

        min-width: 550px;
        max-width: 550px;

        h2 {
            margin-bottom: 1em;
        }

        label {
            &:not(:first-of-type) {
                margin-top: 1em;
            }
        }

        input {
            &:last-of-type {
                margin-top: 1.5em;

                min-height: 30px;
                color: var(--primary);
            }
        }
    }
}

main.dashboard {
    display: flex;
    flex-direction: row;

    // min-height: 25em;
    min-height: max-content;

    nav.lateral {
        position: fixed;
        z-index: 100;

        margin-top: 6.5em;

        margin-left: 8px;

        display: flex;
        flex-direction: column;

        width: fit-content;

        background-color: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
        border-radius: 0px 20px 20px 0px;

        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;

                width: 200px;

                margin: 1em;
                padding: 1em;

                border-radius: 10px;

                span {
                    font-size: 2em;
                    color: var(--primary1);
                }

                a {
                    margin-left: 1em;
                    color: var(--primary1);
                }

                &.selected,
                &.selected:hover {
                    span,
                    a {
                        color: var(--white);
                    }

                    background-color: var(--primary1);
                }

                &:hover {
                    span,
                    a {
                        color: var(--white);
                    }

                    background-color: var(--primary2);
                }
            }
        }
    }

    div.dashboard {
        display: flex;
        flex-wrap: wrap;

        margin-top: 6.5em;
        margin-left: 18em;
        padding: 1em;
        padding-bottom: 0;

        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
        border-radius: 20px 0px 0px 20px;

        div.dash-content {
            margin-bottom: 1em;
            margin-right: 1em;
            padding: 1em;

            border: solid 3px var(--primary2);
            border-radius: 10px;

            h2 {
                font-weight: 700;
                font-size: x-large;
            }

            h3 {
                margin-top: 0.3em;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 250px;
            }

            div {
                display: flex;
                flex-direction: row;

                a:not(:first-of-type) {
                    margin-left: 1em;
                }
            }
        }

        h1 {
            position: absolute;
            right: 5%;
            bottom: 5%;

            min-width: fit-content;
            min-height: fit-content;

            a {
                margin: 0;
                padding: 0px;
                border-radius: 50px;

                min-width: 70px;
                min-height: 70px;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;

                span {
                    font-size: 30pt;
                }
            }
        }

        form {
            margin: 0;
            padding-bottom: 1em;

            div {
                margin-top: 1.5em;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                p {
                    flex-basis: 100%;
                }

                label {
                    flex: 0 0 auto;
                    margin: 6px;
                }

                div {
                    margin-top: 0.5em;
                }
            }

            label:not(:first-of-type) {
                margin-top: 1.5em;
                // margin-top: 1em;
            }

            label + input {
                margin: 0;
                padding-left: 0;
            }
        }
    }

    table {
        text-align: left;
        margin-bottom: 1em;

        th,
        td {
            padding: 0.5em;

            &:first-of-type{
                border-radius: 10px 0 0 10px;
            }
            
            &:last-of-type{
                border-radius: 0 10px 10px 0;
            }
        }

        thead {
            border-bottom: 2px solid #444444;

            th {
                font-size: 15px;
                font-weight: bold;
                color: var(--primary1);
            }
        }

        tbody {
            tr {
                td {
                    vertical-align: middle;

                    &.inline {
                        p {
                            display: inline;

                            &:not(:first-of-type) {
                                margin-left: 1em;
                            }
                        }
                    }
                }
            }

            &:nth-child(2n + 1) {
                background-color: var(--primary3);
            }
        }

        img {
            width: 100px;
        }
    }
}
