section {
    margin-top: 9em;

    .about {
        position: relative;

        width: 350px;
        // height: 100px;

        background: var(--white);

        border: 2px solid var(--primary1);
        box-sizing: border-box;
        border-radius: 20px;

        padding: 1.5em;

        margin-left: 3em;

        z-index: 9;

        h2 {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-weight: 600;
            font-size: 22px;
            line-height: 23px;
            letter-spacing: -0.02em;

            padding-bottom: 0.3em;
        }

        a {
            &:not(:first-of-type) {
                margin-left: 1em;
            }
        }

        p {
            margin-top: 0.5em;
        }
    }

    &.about {
        padding: 5em;
        margin-top: 6.5em;

        background-image: url(../images/img/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact {
        position: relative;

        width: 350px;
        // height: 100px;

        background: var(--white);

        border: 2px solid var(--primary1);
        box-sizing: border-box;
        border-radius: 20px;

        padding: 1.5em;

        margin-right: 3em;

        z-index: 9;

        h2 {
            font-weight: 600;
            font-size: 22px;
            line-height: 23px;
            letter-spacing: -0.02em;

            padding-bottom: 0.3em;
        }

        a {
            &:not(:first-of-type) {
                margin-left: 1em;
            }
        }
    }

    &.contact {
        display: flex;
        flex-direction: row-reverse;

        padding: 5em;
        margin-top: 6.5em;

        background-image: url(../images/img/3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            &:not(:first-of-type) {
                margin-top: 1em;
            }
        }

        input {
            &:last-of-type {
                margin-top: 1.5em;
                min-height: 30px;
            }
        }
    }

    .title {
        position: relative;

        width: 280px;
        height: 100px;

        background: var(--white);

        border: 5px solid var(--primary3);
        box-sizing: border-box;
        border-radius: 20px;

        padding-top: 1.3em;
        padding-left: 1.5em;

        margin-left: 3em;
        z-index: 9;

        h2,
        h3 {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-weight: 600;
            font-size: 22px;
            line-height: 23px;
            letter-spacing: -0.02em;

            padding-bottom: 0.3em;
        }

        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.02em;
        }
    }

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;

        position: relative;
        top: -140px;

        bottom: 0;
        z-index: 1;

        margin-bottom: -140px;

        width: 99%;

        .media {
            display: flex;
            flex-direction: column;
            margin: 1em;

            div {
                display: flex;
                flex-direction: row;

                position: relative;

                a {
                    &:first-of-type {
                        position: absolute;
                        left: 1em;
                        bottom: 1em;
                    }
                    &:last-of-type {
                        position: absolute;
                        right: 1.2em;
                        bottom: 1em;
                    }

                    i {
                        font-size: 20px;
                        color: var(--disable);

                        &:hover {
                            color: var(--primary2);
                        }
                    }
                }
            }

            a {
                display: block;
                max-width: fit-content;
            }

            img {
                display: block;

                border: 5px solid var(--primary3);
                border-radius: 25px;
                padding: 5px;

                max-height: 150px;
                max-width: 300px;

                height: auto;

                &:hover {
                    border-color: var(--primary1);
                }
            }

            &.see {
                margin-top: 7em;
                display: block;

                img {
                    max-width: 99%;
                    max-height: 100%;
                }
            }
        }
    }

    &.privacy {
        margin-left: 1em;
        margin-right: 1em;

        h2 {
            margin-top: 1em;

            & + p {
                margin-top: 0.2em;
            }
        }
    }
}

.loveAlert {
    transform-origin: center 70%;
    animation: LoveAlert 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;

    i {
        color: var(--primary2) !important;
    }
}
