section {
  margin-top: 9em;
}

section .about {
  position: relative;
  width: 350px;
  background: var(--white);
  border: 2px solid var(--primary1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 1.5em;
  margin-left: 3em;
  z-index: 9;
}

section .about h2 {
  margin: 0;
  padding: 0;
}

section .about h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: -0.02em;
  padding-bottom: 0.3em;
}

section .about a:not(:first-of-type) {
  margin-left: 1em;
}

section .about p {
  margin-top: 0.5em;
}

section.about {
  padding: 5em;
  margin-top: 6.5em;
  background-image: url(../images/img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section .contact {
  position: relative;
  width: 350px;
  background: var(--white);
  border: 2px solid var(--primary1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 1.5em;
  margin-right: 3em;
  z-index: 9;
}

section .contact h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: -0.02em;
  padding-bottom: 0.3em;
}

section .contact a:not(:first-of-type) {
  margin-left: 1em;
}

section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 5em;
  margin-top: 6.5em;
  background-image: url(../images/img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section form label:not(:first-of-type) {
  margin-top: 1em;
}

section form input:last-of-type {
  margin-top: 1.5em;
  min-height: 30px;
}

section .title {
  position: relative;
  width: 280px;
  height: 100px;
  background: var(--white);
  border: 5px solid var(--primary3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding-top: 1.3em;
  padding-left: 1.5em;
  margin-left: 3em;
  z-index: 9;
}

section .title h2,
section .title h3 {
  margin: 0;
  padding: 0;
}

section .title h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: -0.02em;
  padding-bottom: 0.3em;
}

section .title h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

section .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -140px;
  bottom: 0;
  z-index: 1;
  margin-bottom: -140px;
  width: 99%;
}

section .gallery .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

section .gallery .media div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

section .gallery .media div a:first-of-type {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

section .gallery .media div a:last-of-type {
  position: absolute;
  right: 1.2em;
  bottom: 1em;
}

section .gallery .media div a i {
  font-size: 20px;
  color: var(--disable);
}

section .gallery .media div a i:hover {
  color: var(--primary2);
}

section .gallery .media a {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

section .gallery .media img {
  display: block;
  border: 5px solid var(--primary3);
  border-radius: 25px;
  padding: 5px;
  max-height: 150px;
  max-width: 300px;
  height: auto;
}

section .gallery .media img:hover {
  border-color: var(--primary1);
}

section .gallery .media.see {
  margin-top: 7em;
  display: block;
}

section .gallery .media.see img {
  max-width: 98%;
  max-height: 100%;
}

section.privacy {
  margin-left: 1em;
  margin-right: 1em;
}

section.privacy h2 {
  margin-top: 1em;
}

section.privacy h2 + p {
  margin-top: 0.2em;
}

.loveAlert {
  -webkit-transform-origin: center 70%;
          transform-origin: center 70%;
  -webkit-animation: LoveAlert 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
          animation: LoveAlert 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

.loveAlert i {
  color: var(--primary2) !important;
}
/*# sourceMappingURL=index.css.map */