/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: var(--body);
}

a:hover {
  color: var(--primary2);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

h1 {
  font-size: larger;
  font-weight: 800;
}

h2 {
  font-size: large;
  font-weight: 700;
}

h3 {
  font-size: large;
  font-weight: 600;
}

form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  margin-bottom: 0.5em;
}

form input {
  color: var(--body);
  padding-left: 5px;
}

form input[type="submit"] {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: var(--white);
}

form textarea {
  height: 150px;
  text-overflow: ellipsis;
}

form div.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  font-weight: 400;
  font-size: medium;
  color: var(--white);
  text-align: center;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

.btn.error {
  background-color: var(--error);
}

.btn.error:hover {
  color: var(--white);
  background-color: var(--error-hover);
}

.btn.warning {
  background-color: var(--warning);
}

.btn.warning:hover {
  color: var(--white);
  background-color: var(--warning-hover);
}

.btn.success {
  background-color: var(--success);
}

.btn.success:hover {
  color: var(--white);
  background-color: var(--success-hover);
}

.btn.validate {
  background-color: var(--primary1);
}

.btn.validate:hover {
  color: var(--white);
  background-color: var(--primary2);
}

.btn.disable {
  color: var(--white);
  background-color: var(--disetxt);
}

i {
  margin-top: 1em;
}

div.error {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 100px;
  min-width: 300px;
  z-index: 997;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

div.error p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: red;
}

.password {
  background-color: aqua;
  font-family: 'Flow Rounded';
  color: red;
}
/*# sourceMappingURL=reset.css.map */